

* {margin: 100px auto;box-sizing: border-box;}

body {
    position: relative;
    margin:0 auto;
    line-height: 28px;
    font-family: helvetica, sans-serif;
    color: black;

}


table {
  font-family: Ubuntu, sans-serif;
  box-shadow: 8px 8px 38px darkslategrey;
  letter-spacing: 1.5px;
  border-spacing: 0px;
}

tr th {
  background-color: #628ca6;
  color: #fff;

}

td, th {
  border: 1px solid #bbb;
  text-align: center;
}

.other {
  color: #fff;
}

tr:nth-child(odd) td {
  background-color: #e7f0ed;
  padding: 2.5px;
}

tr:nth-last-child(even) td {
  background-color: #e7ffed;
  padding: 2px;
}

thead th  {
  background-color: #7fb9c2;
  text-align: center;
  color: black;
  padding: 10px;
  font-size: 1.5em;
}

tfoot th {
  background-color: #7fb9c2;
  text-align: center;
  color: black;
  font-size: 8px;
}

caption {
  padding: 10px;
}
